@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary float-end"><i class="bi bi-file-earmark-plus-fill"></i> &nbsp; Create New</a>
        </div>
    </div>
</div>
<br />

<table class="table table-hover" style="width: 100%">
    <thead>
        <tr class="table-dark">
            <th>Category Name</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr class="table-primary">
                <td style="width: 50%">@category.Name</td>
                <td style="width: 30%">@category.DisplayOrder</td>
            </tr>
        }
    </tbody>
</table>

